* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url(lastlogo.jpg);
  background-size: cover;
  height: 50px;
  width: 100px;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}
.add-one {
  color: #cccccc;
  font-size: 0.75rem;
  margin-left: 15px;
}
.add-two {
  font-size: 1rem;
  margin-left: 3px;
}
.icon {
  display: flex;
  align-items: center;
}
/* box3 */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 35px;
  border-radius: 4px;
}
.search-select {
  background-color: #f3f3f3;
  text-align: center;
  width: 50px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  color: #0f1111;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav-search:hover {
  border: 2px solid orange;
}

/* box4 */
span {
  font-size: 0.7rem;
}
.nav-second {
  font-size: 0.85;
  font-weight: 700;
}

/* box6 */
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

/* panel */
.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}
.panel-options p {
  display: inline;
  margin-left: 15px;
  font-weight: 600;
}
.panel-options {
  font-size: 0.85rem;
  width: 70%;
}
.panel-last {
  font-size: 0.9rem;
  font-weight: 700;
}

/* hero section */
.hero-section {
  background-image: url(heroimage.jpg);
  height: 300px;
  background-size: cover;
}

/* shopping section */
.shopping {
  display: flex;
  justify-content: space-evenly;
  background-color: #caf0f8;
  flex-wrap: wrap;
}
.box {
  height: 375px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}
.box-image {
  height: 300px;
  margin-top: 1rem;
  margin-bottom: 0.85rem;
  background-size: cover;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content a {
  color: #007185;
  text-decoration: none;
}
.image1 {
  background-image: url(image1.webp);
}
.image2 {
  background-image: url(image2.jpg);
}
.image3 {
  background-image: url(image3.jpg);
}
.image4 {
  background-image: url(image4.jpg);
}
.image5 {
  background-image: url(image5.jpg);
}
.image6 {
  background-image: url(image6.jpg);
}
.image7 {
  background-image: url(image7.jpg);
}
.image8 {
  background-image: url(image8.jpg);
}

/* footer */
footer {
  margin-top: 15px;
}
.panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.panel2 {
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}
ul {
  margin-top: 30px;
}
ul a {
  display: block;
  color: #dddddd;
  text-decoration: none;
  font-size: 0.85rem;
  margin-top: 10px;
}
.panel3 {
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* panel4 */
.panel4 {
  background-color: #0f1111;
  color: white;
  font-size: 0.7rem;
  text-align: center;
  height: 80px;
}
.last {
  padding-top: 25px;
}
.copyright {
  padding: 5px;
}
.panel4 a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
